.home {
   background:blue;
   width:100%;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
   
  }
  
  .about{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;

  }

  .about h2 {
    color: green;
    height: 50px;
    font-size: 50px;
    font: sans-serif;
  }

  .about .prompt {
    width: 40%;
    font-size: 30px;
  }

  .prompt svg{
    font-size: 60px;
    margin: 8.5px;
    color: red;
  }

  .skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .skills h1{
    font-size: 50px;
     background-color: red;
  
  }

  .skills .list{
    list-style: none;
    width: 60%;
  }

  .list span{
    font-size: 20px;
  }